.example-container {
    margin: auto;
    width: auto;
    height: auto;
}

.example-sidenav-content {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 0;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}
.example-fab {
  position: absolute;
  left: 20px;
  top: 10px;
}

.menu-row {
    padding: 0px 20px 0px 10px;
}

.menu {
    padding: 0;
}

.example-menu-row-active {
    background-color: a;
}

